.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #76b852;
    height: 70px;
    width: 60%;
    margin: 0 auto;
}
.nav{
    width: 100%;
    background-color: #76b852;
    display: flex
}
.nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
