.review-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
  text-align: center;
  width: 50%;
  margin: 0 25%;
  background: #000080;
  padding: 20px 0;
}

.submitBtn {
  /* width: 30%; */
  margin: 0 auto;
  color: blue;
  background-color: white;
}
